@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
   margin: 0px;
   text-align: center;
   font-family: 'Bebas Neue', sans-serif;
}

.header {
  position: relative;
  width: max-content;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

.content {
  background-color: black;
  color: white;
  padding: 80px;
}

button {
  background-color: #4CAF50; /* Color verde, puedes cambiarlo según tus preferencias */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 40px;
}

  /* VIDEO DE FONDO*/

  .video {
    position: fixed; 
    right: 0; bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    }

    span{
        font-size: 18px;
    }