@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #382775; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto en el encabezado */
    padding: 5px; /* Espaciado interior del encabezado */
    display: flex; /* Usa flexbox para alinear elementos horizontalmente */
    justify-content: center; /* Distribuye elementos horizontalmente */
    align-items: center; /* Centra elementos verticalmente */
    text-align: center;
}

body{
    background-image: url(./imagenes/fondo\ voley.jpg.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.logo_voley > img{
    height: 80px;
    width: 80px;
    border-radius: 30px;
}