 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 * {
    margin: 0px;
    font-family: 'Bebas Neue', sans-serif;
 }

 body{
    background-image:url(./images/home_fondo_messi.jpg);
    background-size:cover;
 }



 h1 {
    color:#00eeff;
 }

 /*estilos de los botones */
.botonera{
    text-align: center; /* Centra horizontalmente los elementos dentro del contenedor */
    padding-top: 20px; /* Espacio superior para separar de la parte superior de la página */
}
.animated-button {
    position: relative;
    display: inline-block;
    margin: 8px;
    padding: 12px 24px;
    border: none;
    text-shadow: 2px 2px 3px black;
    font-size: 30px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: rgb(253, 253, 253);
    box-shadow: 0 0 0 2px #0051ffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #00eeff;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
  }
  
  .animated-button:active {
    scale: 0.95;
  }
  
  .animated-button:hover span:last-child {
    width: 170px;
    height: 150px;
    opacity: 1;
  }

  /* animacion de ligas*/

  .ligas {
	
    display: flex;
    justify-content: center;
    width:800px;
    height: 40px;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    text-shadow: 5px 5px 5px black;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 380px;
    margin-top: 200px;
    margin-left: 200px;
    overflow: hidden;
    
  }
  
  ul {
    list-style: none;
    padding-left: 10px;
    animation: cambiar 8s infinite;
  }
  
  ul, p {
    margin: 0;
    font-size: 40px;
  }
  
  @keyframes cambiar {
    
    0%{ margin-top: 0;}
    20%{ margin-top: 0;}
    
    25% {margin-top: -40px;}
    50% {margin-top: -40px;}
    
    55% {margin-top: -80px;}
    80% {margin-top: -80px;}
    
    85% {margin-top: -40px;}
    95% {margin-top: -40px;}
    
    100% {margin-top: 0;}
  }

.principal-1 {
  display: flex;
  justify-content: center;
  margin-top: 350px;
}

.principal-1>img {
  width: 250px;
  height: 250px;
}

.principal-1>img:hover{
  border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #00eeff;
-webkit-box-shadow: 0px 0px 10px 10px #00eeff;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
transition: all .5s ease-in-out;
-webkit-transition: all 1.2s ease-in-out;
  }
  
  .principal-2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .principal-2>img {
    width: 200px;
    height: 200px;
  }

  .principal-2>img:hover {
    filter: saturate(500%);
  }