.cartaf1 {
    background-image: url('formula-1-logo-0.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Escalar la imagen para cubrir todo el contenedor */
    background-position: center; /* Posición de la imagen en el centro */
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin: 10px;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content .heading {
    font-weight: 700;
    font-size: 32px;
  }
  
  .content .para {
    line-height: 1.5;
  }
  
  .content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #2799f7 0%, #b30fff 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .carrtaf1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #2799f7 0%, #b30fff 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .cartaf1:hover::before {
    height: 100%;
  }
  
  .cartaf1:hover {
    box-shadow: none;
  }
  
  .cartaf1:hover .btn {
    color: #212121;
    background: #e8e8e8;
  }
  
  .content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .content .btn:active {
    box-shadow: none;
  }