.botonera {
    text-align: center;
    padding-top: 40px;
  }
.Cabecera {
    text-align: center;
    background-color: #00000088;
    border-color: #00000088;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo > img {
  width: 200px;
  height: 190px;
}
  
  .jugador .banderas {
    position: relative;
    right: 190px;
    height: 17px;
    width: 25px;
  }
  .animated-button {
    margin-bottom: 40px;
    margin-right: 50px;
    position: relative;
    display: inline-block;
    padding: 12px 96.2px;
    border: none;
    font-size: 18px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color:white;
    box-shadow: 0 0 0 2px white;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
    
    .animated-button span:last-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background-color: black;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
    }
    
    .animated-button span:first-child {
      position: relative;
      z-index: 1;
    }
    
    .animated-button:hover {
      box-shadow: 0 0 0 5px #ffffffff;
      color: #ffffff;
    }
    
    .animated-button:active {
      transform: scale(0.95);
    }
    
    .animated-button:hover span:last-child {
      width: 150px;
      height: 150px;
      opacity: 1;
    }
    
    .texto-cambiante {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
    }
    .photos {
      
      display: flex;
      flex-direction: column; /* Display the images vertically */
      align-items: center; /* Center the images horizontally */
      margin-top: 20px;
      padding: 20px;
    }
    
    .photos div {
      flex-basis: 45%;
      /*background-color: #f26c1c;*/
      padding: 0px;
      border-radius: 5px;
    }
    #fondo-transparente {
      position: flex;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('./Imagenes/fondo.png');
      opacity: 0.5;
      z-index: -1;
    }
         body {
          font-family: Bebas Neue, sans-serif;
      background-image: url(./Imagenes/fondo.png);
      background-repeat: no-repeat;
      background-position: cover;
      background-size: cover;
      background-attachment: fixed;
    }
    nav {
      display: flex;
      justify-content: space-between;
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    } 
    nav li {
      display: inline-block;
      margin: 0px;
    }
    h1 {
      color: white;
    text-shadow: 4px 4px 4px black;
  }
  h2 {
    color: white;
    text-shadow: 4px 4px 4px black;
  }
    .container {
          text-align: center;
        }
    .container2 {
      padding-top: 50px;
          text-align: center;
        }
  .container3 {
      float: right;
          text-align: center;
        }
  .borde {
      width: 1070px;
          border: 5px solid black;
          padding: 10px;
          margin-bottom: 10px;
          justify-content: center;
          margin-left: 200px;
        }
  .caja_estadisticas {
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.844),rgba(128, 128, 128, 0.258));
      width: 500px;
      height: 480px;
          border: 2.5px solid black;
          padding: 10px;
          margin-bottom: 10px;
          display: grid;
    place-items: center;
        }
   .jugador {
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.844),rgba(128, 128, 128, 0.258));
      width: 500px;
      height: 480px;
          border: 2.5px solid black;
          padding: 10px;
          margin-bottom: 10px;
        }
   .jugador img {
      float: right;
          width: 230px;
          height: 230px;
          object-fit: contain;
          margin-left: 20px;
          margin-bottom: 20px;
        }
  .footer {
    text-align:center;
  }